        {{^currentShows}}
            <h1>You've come too early. There are no shows happening yet.</h1>
            <p>Want a sneak peak at what you will see here while bands are playing?</p>
            <ol>
                <li>Change your computer/phone's settings to a date/time when shit is happening.</li>
                <li>Refresh this page.</li>
            </ol>
            
        {{/currentShows}}

        <div class="bud-light stage">
        {{#stage0}}
            
            <div class="show {{#attributes.current}} current {{/attributes.current}}" 
                {{#attributes.passed}} style="display:none;" {{/attributes.passed}} data-min-left="{{attributes.minLeft}}">
                <span>{{attributes.artist}} - {{#attributes.current}} {{attributes.minLeft}} min left {{/attributes.current}}</span>
                {{#attributes.current}}
                  <div class="progress {{attributes.progressColor}}" style="width:{{attributes.percentage}}%"></div>
                {{/attributes.current}}
            </div>
        
        {{/stage0}}
        </div>

        <div class="petrillo stage">
        {{#stage1}}
            
            <div class="show {{#attributes.current}} current {{/attributes.current}}" 
                {{#attributes.passed}} style="display:none;" {{/attributes.passed}} data-min-left="{{attributes.minLeft}}">
                
                <span>{{attributes.artist}} - {{#attributes.current}} {{attributes.minLeft}} min left {{/attributes.current}}</span>
                {{#attributes.current}}
                  <div class="progress {{attributes.progressColor}}" style="width:{{attributes.percentage}}%"></div>
                {{/attributes.current}}
            </div>
        
        {{/stage1}}
        </div>

        <div class="grove stage">
        {{#stage2}}
            
            <div class="show {{#attributes.current}} current {{/attributes.current}}" 
                {{#attributes.passed}} style="display:none;" {{/attributes.passed}} data-min-left="{{attributes.minLeft}}">
                <span>{{attributes.artist}} - {{#attributes.current}} {{attributes.minLeft}} min left {{/attributes.current}}</span>
                {{#attributes.current}}
                  <div class="progress {{attributes.progressColor}}" style="width:{{attributes.percentage}}%"></div>
                {{/attributes.current}}
            </div>
        
        {{/stage2}}
        </div>

        <div class="bmi stage">
        {{#stage3}}
            
            <div class="show {{#attributes.current}} current {{/attributes.current}}" 
                {{#attributes.passed}} style="display:none;" {{/attributes.passed}} data-min-left="{{attributes.minLeft}}">
                <span>{{attributes.artist}} - {{#attributes.current}} {{attributes.minLeft}} min left {{/attributes.current}}</span>
                {{#attributes.current}}
                  <div class="progress {{attributes.progressColor}}" style="width:{{attributes.percentage}}%"></div>
                {{/attributes.current}}
            </div>
        
        {{/stage3}}
        </div>

        <div class="kidzapalooza stage">
        {{#stage4}}
            
            <div class="show {{#attributes.current}} current {{/attributes.current}}" 
                {{#attributes.passed}} style="display:none;" {{/attributes.passed}} data-min-left="{{attributes.minLeft}}">
                <span>{{attributes.artist}} - {{#attributes.current}} {{attributes.minLeft}} min left {{/attributes.current}}</span>
                {{#attributes.current}}
                  <div class="progress {{attributes.progressColor}}" style="width:{{attributes.percentage}}%"></div>
                {{/attributes.current}}
            </div>
        
        {{/stage4}}
        </div>

        <div class="perrys stage">
        {{#stage5}}
            
            <div class="show {{#attributes.current}} current {{/attributes.current}}" 
                {{#attributes.passed}} style="display:none;" {{/attributes.passed}} data-min-left="{{attributes.minLeft}}">
                <span>{{attributes.artist}} - {{#attributes.current}} {{attributes.minLeft}} min left {{/attributes.current}}</span>
                {{#attributes.current}}
                  <div class="progress {{attributes.progressColor}}" style="width:{{attributes.percentage}}%"></div>
                {{/attributes.current}}
            </div>
        
        {{/stage5}}
        </div>

        <div class="lakeshore stage">
        {{#stage6}}
            
            <div class="show {{#attributes.current}} current {{/attributes.current}}" 
                {{#attributes.passed}} style="display:none;" {{/attributes.passed}} data-min-left="{{attributes.minLeft}}">
                <span>{{attributes.artist}} - {{#attributes.current}} {{attributes.minLeft}} min left {{/attributes.current}}</span>
                {{#attributes.current}}
                  <div class="progress {{attributes.progressColor}}" style="width:{{attributes.percentage}}%"></div>
                {{/attributes.current}}
            </div>
        
        {{/stage6}}
        </div>

        <div class="redbull stage">
        {{#stage7}}
            
            <div class="show {{#attributes.current}} current {{/attributes.current}}" 
                {{#attributes.passed}} style="display:none;" {{/attributes.passed}} data-min-left="{{attributes.minLeft}}">
                <span>{{attributes.artist}} - {{#attributes.current}} {{attributes.minLeft}} min left {{/attributes.current}}</span>
                {{#attributes.current}}
                  <div class="progress {{attributes.progressColor}}" style="width:{{attributes.percentage}}%"></div>
                {{/attributes.current}}
            </div>
        
        {{/stage7}}
        </div>
